
* {
    padding: 0rem;
    margin: 0rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html {
    size: 62.5%;
    background-color: rgb(207, 156, 63);
    /* display: flex; */
}


#btn_red {
    background-color: red;
    border-radius: 20rem 1rem 1rem 1rem;
}


#btn_blue {
    background-color: rgb(0, 149, 255);
    border-radius: 1rem 1rem 1rem 20rem;

}

#btn_green {
    background-color: rgb(13, 255, 0);
    border-radius: 1rem 20rem 1rem 1rem;

}

#btn_yellow {
    background-color: orange;
    border-radius: 1rem 1rem 20rem 1rem;

}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    /* Por si algo se desconecta, poder verlo */
    background-color: black;
}
.btn:hover {
    box-shadow: 0px 0px 50px white;
}


.btn_container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}
 
/* HEADER */
.title {
    text-align: center;
    font-size: 5rem;
}



.menu_btn  {    
    display: flex;
    text-align: center;
    justify-content: center;
    
}
    .menu_btn > li {
        list-style: none;    
    }
        .menu_btn > li > button {
            margin: 1rem;
            color: black;
            text-decoration: none;
            font-size: 2rem;
            padding: 0.4rem;
        }

        